
<div>
    <label>
        Date
        <input id="date-value" />
    </label>
</div>
<div>
    <label>
        Location
        <input id="location" />
    </label>
    
</div>
<button id="create-event">Schedule Event</button>

<div id="result-box">

</div>

<div id="weather-section">
    <div id="weather-box">

    </div>
</div>

<script>
    $("#create-event").click(function () {
        let date = $("#date-value").val();
        let userId = $("#user-id").val();
        let location = $("#location").val();
        let cosmicBody = $("#body-name").val();
        let url = "/Details/CreateEvent?userId=" + userId + "&date=" + date + "&location=" + location + "&cosmicBody=" + cosmicBody;
        for (i = 0; i < 10; i++) {
            url = url.replace(" ", "%20");
        }
        $("#result-box").load(url);
    })
</script>
