@model string

<form action="/Details/UploadPicture" method="post" enctype="multipart/form-data">

    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />
    @Html.Hidden("cosmicBody", Model)

    <input type="submit" />
</form>


