@model Comet
@{
    ViewBag.Title = "View";
}

<h2>@Model.name</h2>

<h2>@Model.magnitude</h2>

@Ajax.ActionLink("Map", "Map", new { latitude = 43.033580, longitude = -87.911910, magnitude = 5 }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "map-box", InsertionMode = InsertionMode.Replace })

<div id="map-box">

</div>

