@model List<Comet>

<table>
    @foreach (Comet comet in Model)
    {
        <tr>
            <td>@Html.ActionLink(@comet.name,"GetDetails","Details",new {identifier = comet.name, type = "comet"}, new { })</td>
        </tr>
    }
</table>
