
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>



@Ajax.ActionLink("Comets", "GetComets", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "results-box", InsertionMode = InsertionMode.Replace })
@Ajax.ActionLink("Stars", "GetStars", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "results-box", InsertionMode = InsertionMode.Replace })

<div id="results-box">

</div>

