
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<button id="comet-button">
    Comets
</button>

@Ajax.ActionLink("Comets", "GetComets", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "comets", InsertionMode = InsertionMode.Replace })

<div id="comets">

</div>

<script src="~/Scripts/jquery-3.3.1.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>