@using Stargazer.Models
@model List<Event>
@{
    ViewBag.Title = "Stargazer - Home";
}

<h2 id="home-header">
    Stargazer
</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <h3>Picture of the Day</h3>
                <img src="@(ViewBag.picUrl)" alt="Image of the Day" id="home-image" />
            </div>
        </div>
        <div class="col-md-6">

            <h3>UpcomingEvents</h3>

            <div id="home-event-feed" style="height: 50px; overflow-y: scroll">

                <ul>
                    @foreach (Event newEvent in Model)
                    {
                        <li>@Html.ActionLink(newEvent.CosmicBody + ", " + newEvent.Location + ", " + newEvent.Date.ToShortDateString(), "EventDetails", new { Id = newEvent.Id })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>


@*<table>
    <tr>    
        @foreach(Event newEvent in Model)
        {
            <td>@Html.ActionLink(newEvent.Date.ToString(), "EventDetails", new {Id = newEvent.Id})</td>
        }
    </tr>
</table>*@

