@using Stargazer.Models
@model List<Event>
@{
    ViewBag.Title = "HomePage";
}

<h2>
    HomePage
</h2>
<img src="@(ViewBag.picUrl)" alt="Image of the Day" id="home-image" />

<h3>UpcomingEvents</h3>

<div style="height: 50px; overflow-y: scroll">

    <ul>
        @foreach (Event newEvent in Model)
        {
            <li>@Html.ActionLink(newEvent.CosmicBody + ", " + newEvent.Location + ", "+ newEvent.Date.ToShortDateString(), "EventDetails", new { Id = newEvent.Id })</li>
        }
    </ul>
</div>


@*<table>
    <tr>    
        @foreach(Event newEvent in Model)
        {
            <td>@Html.ActionLink(newEvent.Date.ToString(), "EventDetails", new {Id = newEvent.Id})</td>
        }
    </tr>
</table>*@

